In [ ]:
import pandas as pd

In [58]:
bios = pd.read_csv('datasets/bios.csv')
bios.head()

bios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145500 entries, 0 to 145499
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   athlete_id    145500 non-null  int64
 1   name          145500 non-null  object
 2   born_date     143693 non-null  object
 3   born_city     110908 non-null  object
 4   born_region   110908 non-null  object
 5   born_country  110908 non-null  object
 6   country       145499 non-null  object
 7   height_cm     106651 non-null  float64
 8   weight_kg     102070 non-null  float64
 9   died_date     33940 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 11.1+ MB

In [ ]:
bios.loc[0] # fetches the data from the specified row, in this case 0th row

# fetch multiple rows (pass a list as the index)
bios.loc[[0,1,2]]
bios.loc[[23,45,67]] # you can pass the rows numbers without a sequence

In [ ]:
# you can slice too
bios.loc[10:25]

In [ ]:
# you can get specific rows and columns too 
bios.loc[25:50, ["name", 'country', 'born_date', 'died_date']]

bios.loc[pd.isna(bios['died_date']), ['name', 'born_date', 'country', 'died_date']]

bios.loc[bios['country'] == "France", ['name', 'born_date', 'country']]

                         name   born_date country
0       Jean-François Blanchy  1886-12-12  France
1              Arnaud Boetsch  1969-04-01  France
2                Jean Borotra  1898-08-13  France
3             Jacques Brugnon  1895-05-11  France
4                Albert Canet  1878-04-17  France
...                       ...         ...     ...
144646         Alexia Queyrel  1999-06-03  France
144647      Léo Le Blé Jaques  1997-01-02  France
144648            Liam Tourki  1999-03-25  France
144649      Gwendoline Daudet  1998-11-28  France
145498         André Foussard  1899-05-19  France

[6339 rows x 3 columns]

In [57]:
# unique values 
bios['country'].unique()

bios.loc[(bios['country'] == 'India') & (pd.isna(bios['died_date']))]

type(bios['born_date'])

pandas.core.series.Series